* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#calc-container {
    /* border: 1px solid red; */
    background-color: #277da1;
    border-radius: 4px;
    height: 450px;
    width: 350px;
    margin: 0 auto;
}

#display-container {
    border: 2px solid #f9c74f;
    background-color: #577590;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 32px;
    height: 15%;
    width: 90%;
    margin: 5% auto 2.5% auto;
    padding: 5px 16px;
}

#button-container {
    /* border: 1px solid blue; */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    border-radius: 4px;
    width: 90%;
    height: 73.5%;
    margin: 5% auto 5% auto;
}

.btn {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn:hover {
    opacity: 0.8;
}

.number {
    font-size: 20px;
    background-color: #43aa8b;
    color: white;
}

.operator {
    font-size: 20px;
    background-color: #f9c74f;
    color: #285e75;
}

.backspace {
    font-size: 18px;
    background-color: #f94144;
    color: white;
}

.equals, .decimal {
    color: white;
    font-size: 20px;
    background-color: #f9844a;
}

.clear {
    font-size: 18px;
    background-color: #90be6d;
    color: white;
}