h1 {
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#calc-container {
    border: 10px solid rgba(37, 56, 65, 0.616);
    border-radius: 12px;
    width: 750px;
    height: 625px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #96a4c0ad;
}

.display {
    border: 10px solid rgba(37, 56, 65, 0.616);
    border-radius: 6px;
    width: 600px;
    height: 100px;
    margin-top: 40px;
    background-color: rgba(195, 206, 255, 0.788);
}

.display>p {
    /* border: 1px solid purple; */
    font-size: 80px;
    font-family: 'Teko', sans-serif;
    color: rgba(29, 29, 29, 0.74);
    letter-spacing: 4px;
    text-align: right;
    width: 550px;
    margin: 25px 25px;
    
}

#num-container {
    /* border: 1px solid green; */
    border-radius: 6px;
    width: 350px; 
    height: 400px;
    margin-left: 25px;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #809dec98;
}

#num, #decimal, #backspace {
    /* border: 1px solid red; */
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    height: 80px;
    width: 90px;
    font-size: 28px;
    background-color: #4760b3;
    color: #ffffff;
}

#operator-container {
    /* border: 1px solid blue; */
    border-radius: 6px;
    height: 300px;
    width: 230px;
    margin-right: 25px;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #809dec98;
}

#operator, #equals, #clear {
    border: none;
    border-radius: 6px;
    height: 80px;
    width: 90px;
    background-color: #d39d6bbe;
    font-size: 22px;
    color: #ffffff;
    margin-top: 10px;
}

#operator {
    font-size: 30px;
}

#operator.but-add {
    font-size: 36px;
}

#operator.but-subtract {
    font-size: 44px;
}

#equals {
    font-size: 32px;
}

